{% extends 'base.html.twig' %}

{% block title %}Utilisateur index{% endblock %}
{% block stylesheets %}
{% endblock %}
{% block body %}
<div class="container">
<div class="jumbotron mt-3">
        <h1 class="display-3">Bienvenue sur ENT !</h1>
        <p class="lead">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Exercitationem, sint!</p>
        <hr class="my-4">
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Impedit accusamus, saepe expedita quod magnam asperiores in a nulla vitae nobis, repudiandae repellat fugit consequuntur repellendus quasi, hic beatae tempora eaque!</p>
        
    </div>
    </div>
{% endblock %}
{% block javascripts %}          
{% endblock %}
