{% extends 'base.html.twig' %}

{% block title %}Edit Soutenance{% endblock %}

{% block body %}
    <h1>Edit Soutenance</h1>

    {{ include('soutenance/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('soutenance_index') }}">back to list</a>

    {{ include('soutenance/_delete_form.html.twig') }}
{% endblock %}
