{% extends 'base.html.twig' %}

{% block title %}Soutenance index{% endblock %}

{% block body %}
    <h1>Soutenance index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Libelle</th>
                <th>Date</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for soutenance in soutenances %}
            <tr>
                <td>{{ soutenance.id }}</td>
                <td>{{ soutenance.Libelle }}</td>
                <td>{{ soutenance.date }}</td>
                <td>
                    <a href="{{ path('soutenance_show', {'id': soutenance.id}) }}">show</a>
                    <a href="{{ path('soutenance_edit', {'id': soutenance.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('soutenance_new') }}">Create new</a>
{% endblock %}
