{% extends 'base.html.twig' %}

{% block title %}Soutenance{% endblock %}

{% block body %}
    <h1>Soutenance</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ soutenance.id }}</td>
            </tr>
            <tr>
                <th>Libelle</th>
                <td>{{ soutenance.Libelle }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ soutenance.date }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('soutenance_index') }}">back to list</a>

    <a href="{{ path('soutenance_edit', {'id': soutenance.id}) }}">edit</a>

    {{ include('soutenance/_delete_form.html.twig') }}
{% endblock %}
