{% extends 'base.html.twig' %}

{% block title %}Filiere index{% endblock %}

{% block body %}
    <h1>Filiere index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Label</th>
                <th>Faculte</th>
                <th>Classe</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for filiere in filieres %}
            <tr>
                <td>{{ filiere.id }}</td>
                <td>{{ filiere.label }}</td>
                <td>{{ filiere.faculte }}</td>
                <td>{{ filiere.classe }}</td>
                
                <td>
                    <a href="{{ path('filiere_show', {'id': filiere.id}) }}">show</a>
                    <a href="{{ path('filiere_edit', {'id': filiere.id}) }}">edit</a>
                    <a href="{{ path('candidature', {'id': filiere.id}) }}">Postulez</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('filiere_new') }}">Create new</a>
{% endblock %}
