{% extends 'base.html.twig' %}

{% block title %}Jour index{% endblock %}

{% block body %}
    <h1>Jour index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Date</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for jour in jours %}
            <tr>
                <td>{{ jour.id }}</td>
                <td>{{ jour.nom }}</td>
                <td>{{ jour.date }}</td>
                <td>
                    <a href="{{ path('jour_show', {'id': jour.id}) }}">show</a>
                    <a href="{{ path('jour_edit', {'id': jour.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('jour_new') }}">Create new</a>
{% endblock %}
