{% extends 'base.html.twig' %}

{% block title %}Edit Utilisateur{% endblock %}

{% block body %}
<div class="container">
    <h1>Edit Utilisateur</h1>
    <div class="card-mb-4">
        {% if utilisateur.filename %}
            <img src="{{vich_uploader_asset(utilisateur, 'imageFile')  | imagine_filter('thumb') }}" alt="card+-img-top" style="width: 50%; height: 50;">
         {% endif %}
    </div>
    {{ include('utilisateur/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('utilisateur_index') }}">Retour to list</a>

    {{ include('utilisateur/_delete_form.html.twig') }}
    </div>
{% endblock %}
