{% extends 'base.html.twig' %}

{% block title %}Utilisateur index{% endblock %}
{% block stylesheets %}
<link href="{{ asset('css/dataTables.min.css') }}" rel="stylesheet"/>
{% endblock %}
{% block body %}
<div class="container">
    <h1>Utilisateur index</h1>

    <table class="table display" id="myTable"> 
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Pseudo</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for utilisateur in utilisateurs %}
            <tr>
                <td>{{ utilisateur.id }}</td>
                <td>{{ utilisateur.email }}</td>
                <td>{{ utilisateur.pseudo }}</td>
                <td>{{ utilisateur.nom }}</td>
                <td>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('utilisateur_new') }}">Nouveau</a>
    </div>
{% endblock %}
{% block javascripts %}

          <script src="{{ asset('js/dataTables.min.js') }}"></script>
          <script>
          $(document).ready( function () {
              $('#myTable').DataTable();
            } );
          </script>          
{% endblock %}
