{% extends 'base.html.twig' %}

{% block title %}Utilisateur{% endblock %}

{% block body %}
<div class="container">
    <h1>Utilisateur</h1>
    <div class="card-mb-4">
        {% if utilisateur.filename %}
            <img src="{{vich_uploader_asset(utilisateur, 'imageFile')  | imagine_filter('thumb') }}" alt="card+-img-top" style="width: 50%; height: 50;">
         {% endif %}
    </div>
    
    

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ utilisateur.id }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ utilisateur.email }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ utilisateur.password }}</td>
            </tr>
            <tr>
                <th>Pseudo</th>
                <td>{{ utilisateur.pseudo }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('utilisateur_index') }}">Retour to list</a>

    <a href="{{ path('utilisateur_edit', {'id': utilisateur.id}) }}">edit</a>

    {{ include('utilisateur/_delete_form.html.twig') }}
    </div>
{% endblock %}
