{% extends 'base.html.twig' %}

{% block title %}Edit Role{% endblock %}

{% block body %}
<div class="container">
    <h1>Edit Role</h1>

    {{ include('role/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('role_index') }}">Retour to list</a>

    {{ include('role/_delete_form.html.twig') }}
    </div>
{% endblock %}
