{% extends 'base.html.twig' %}

{% block title %}Role index{% endblock %}
{% block stylesheets %}
<link href="{{ asset('css/dataTables.min.css') }}" rel="stylesheet"/>
{% endblock %}
{% block body %}
<div class="container">
    <h1>Role index</h1>

    <table class="table display" id="myTable"> 
        <thead>
            <tr>
                <th>Id</th>
                <th>Niveau</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for role in roles %}
            <tr>
                <td>{{ role.id }}</td>
                <td>{{ role.niveau }}</td>
                <td>{{ role.description }}</td>
                <td>
                    <a href="{{ path('role_show', {'id': role.id}) }}">show</a>
                    <a href="{{ path('role_edit', {'id': role.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('role_new') }}">Nouveau</a>
    </div>
{% endblock %}
{% block javascripts %}

          <script src="{{ asset('js/dataTables.min.js') }}"></script>
          <script>
          $(document).ready( function () {
              $('#myTable').DataTable();
            } );
          </script>          
{% endblock %}
