{% extends 'base.html.twig' %}

{% block title %}Role{% endblock %}

{% block body %}
<div class="container">
    <h1>Role</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ role.id }}</td>
            </tr>
            <tr>
                <th>Niveau</th>
                <td>{{ role.niveau }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ role.description }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('role_index') }}">Retour to list</a>

    <a href="{{ path('role_edit', {'id': role.id}) }}">edit</a>

    {{ include('role/_delete_form.html.twig') }}
    </div>
{% endblock %}
