<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet"/>
        {% block stylesheets %}
        
        {% endblock %}
    </head>
    <body>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
            <div class="container">
              <a class="navbar-brand" href="{{ path('homepage') }}">ENT</a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{path('faculte_index')}}">Faculte</a>
                  </li>
                   <li class="nav-item">
                    <a class="nav-link" href="{{path('classe_index')}}">Classe</a>
                  </li>
                   <li class="nav-item">
                    <a class="nav-link" href="{{path('filiere_index')}}">Filiere</a>
                  </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{path('utilisateur_index')}}">Liste des étudiants</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{path('mescandidature')}}">Liste des candidatures</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Projets</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{path('soutenance_index')}}">Soutenances</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{path('planning_index')}}">Planning</a>
                    </li>
                {% if app.user %}
                <li class="nav-item dropdown">
                    <a  href="#" class="nav-link"  class="nav-link dropdown-toggle" data-toggle="dropdown" id="accountDropdownLink" >
                    {{app.user.email}}
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="accountDropdownLink">
                        <a href="{{ path('mescandidature') }}" class="dropdown-item">Mes candidatures</a>
                        <a href="{{ path('account_profile') }}" class="dropdown-item">Modifier mon profile</a>
                        
                        <div class="dropdown-divider"></div>
                        <a href="{{path('app_logout')}}" class="dropdown-item">Deconnexion</a>  
                    </div>
                    
                </li>
                  {% else %}
                  <li class="nav-item">
                    <a class="nav-link" href="{{path('utilisateur_new')}}">Inscription</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{{path('app_login')}}">Connexion</a>
                  </li>
                     {% endif %}
                </ul>
              </div>
            </div>
          </nav>
        {% block body %}
           
        {% endblock %}
        {% block content %}
        {% endblock %}
        <script src="{{ asset('js/jquery.slim.min.js') }}"></script>
        <script src="{{ asset('js/bootstrap.min.js') }}"></script>
          
        {% block javascripts %}
          
        {% endblock %}
    </body>
</html>
