{% extends 'base.html.twig' %}

{% block title %}Faculte index{% endblock %}

{% block body %}
    <h1>Faculte index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Label</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for faculte in facultes %}
            <tr>
                <td>{{ faculte.id }}</td>
                <td>{{ faculte.label }}</td>
                <td> 
                    <a href="{{ path('faculte_show', {'id': faculte.id}) }}">sho</a>
                    <a href="{{ path('faculte_edit', {'id': faculte.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('faculte_new') }}">Create new</a>
{% endblock %}
