{% extends 'base.html.twig' %}

{% block title %}New Faculte{% endblock %}

{% block body %}
    <h1>Create new Faculte</h1>

    {{ include('faculte/_form.html.twig') }}

    <a href="{{ path('faculte_index') }}">back to list</a>
{% endblock %}
