{% extends 'base.html.twig' %}

{% block title %}Faculte{% endblock %}

{% block body %}
    <h1>Faculte</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ faculte.id }}</td>
            </tr>
            <tr>
                <th>Label</th>
                <td>{{ faculte.label }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('faculte_index') }}">back to list</a>

    <a href="{{ path('faculte_edit', {'id': faculte.id}) }}">edit</a>

    {{ include('faculte/_delete_form.html.twig') }}
{% endblock %}
