{% extends 'base.html.twig' %}

{% block title %} Mes Candidature{% endblock %}

{% block body %}
<div class="container">
    <h> vous allez postulez en {{filiere.label}} </h>

    {{form_start(form)}}
    {{form_row(form.notebac)}}
    {{form_row(form.notel3)}}
    <button type="submit" class = "btn btn-primary">postulez</button>
    {{form_end(form)}}
 
 </div>

{% endblock %}




