{% extends 'base.html.twig' %}

{% block title %} Mes Candidature{% endblock %}

{% block body %}
 <div class="container">
 <h1> Mes candidatures</h1>
  <div class="row">
  {% if candidatures %}
   {% for candidature in candidatures %}
        <div class="col-md-4">
        <p style="color:red">Numero candiature : {{ candidature.id }} </p>
        <p> Statut :{{ candidature.statut }}</p>
        <p>note general du bac :</p>{{ candidature.notebac }}</p>
        <p>note general de la licence : </p>{{ candidature.notel3 }} </p>
        <button type="submit" class = "btn btn-primary">Voir</button>
        <button type="submit" class = "btn btn-success">Acceptez</button>
        <button type="submit" class = "btn btn-danger">Refusez</button>
        </div> 
{% endfor %}
{% else %}
    <p>Vous n'avez pas postulez</p>
{% endif %}

     </div>
 </div>
{% endblock %}
